@font-face {
  font-family: 'Gilory';
  src: local('Gilory'), url(./fonts/Gilroy-Light.otf) format('truetype');
}
@font-face {
  font-family: 'Gilory-Bold';
  src: local('Gilory'), url(./fonts/Gilroy-ExtraBold.otf) format('truetype');
}

body {
  margin: 50;
  background-color:#E5E5E5;
  font-family: 'Gilory','Gilory-Bold','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
